$blue: #acd4f7
$darkblue: #3d98e7
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Seaweed+Script&family=Source+Code+Pro')

$background-color: white
$text-color: #111
$link-text-color: $blue
$link-line-color: $blue
$header-color: #111

$base-font: "Nunito", sans-serif
$header-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
$script: "Seaweed Script", serif
$code: "Source Code Pro", monospace

$gap: 30px
$spacing: 50px
$column-width: 272px
$content-width: 1280px

$layout-breakpoint-phone: 768px

@mixin tablet-up
    @media (min-width: $layout-breakpoint-phone)
        @content

@mixin tablet-down
    @media (max-width: $layout-breakpoint-phone)
        @content

@mixin colors($text, $background)
    background-color: $background
    color: $text

@mixin center()
    display: flex
    justify-content: center
    align-items: center

@mixin card($text, $background)
    @include colors($text, $background)
    @include center()
    padding: 1em

@mixin horizontal-menu
    ul
        list-style-type: none
        margin: 0
        padding: 0
        text-align: right
        font: 100% $base-font
        //color: $card-text

    li
        display: inline-block

@mixin menu-item-style
    a
        text-decoration: none
        color: black
        padding: 0em 1em

html
    scroll-behavior: smooth

body
    background-color: $background-color
    color: $text-color
    font: 100% $base-font
    &::-webkit-scrollbar
        display: none

h1, h2, h3, h4, h5
    font-family: $header-font
    font-weight: bold
    margin: 0.5em 0em

h1
    font-size: 3em

h2
    font-size: 2em

p
    margin-bottom: 10px

.header
    background: white linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(239,239,239,1) 11%, rgba(255,255,255,1) 100%)
    border-bottom: 1px dotted #ccc
    font-weight: bold
    position: fixed
    top: 0
    width: 100%

#content
    max-width: $content-width
    margin: 0px auto

.footer
    font-size: 0.8em
    margin-top: $spacing

.content
    padding: 10px $spacing $spacing $spacing

.contact-data
    max-width: $content-width
    margin: 0px auto
    padding: $gap $spacing

.footer-1
    background-color: $blue
    color: $text-color
    border-bottom: 1px solid #99c

.footer-2
    background-color: #3d98e7
    color: white
    padding: 10px 0px

.footer-1 .grid, .footer-2 .grid

.menu ul
    display: flex
    gap: $gap
    justify-content: right
    list-style-type: none
    align-items: baseline
    padding: 0px
    margin: 5px $spacing 5px auto

.menu ul li.logo
    margin-right: auto
    margin-left: $spacing

.menu ul li a
    color: black
    text-decoration: none

ul.social-media
    display: flex
    gap: $gap
    justify-content: center
    list-style-type: none
    align-items: center
    padding: 0px
    margin: 0

ul.social-media li a
    color: white
    text-decoration: none

ul.social-media li a:hover
    color: black
    text-decoration: none

.grid
    display: flex
    gap: $gap
    flex-wrap: wrap

.grid-cell
    flex-basis: $column-width
    min-width: $column-width
    flex-shrink: 1
    flex-grow: 1

.company
    background-repeat: no-repeat
    display: flex
    justify-content: flex-start
    flex-direction: row
    margin-top: 100px

.company div.content
    flex-basis: $column-width * 2 + $gap
    padding: 10px 0px 10px $spacing

.slogan
    font-family: $header-font
    font-size: 4em
    font-weight: bold
    color: $blue
    margin-bottom: $spacing

.services
    background-color: $blue
    border-radius: 3px
    box-shadow: 2px 4px 6px #ccc, 5px 10px 12px #eee, 10px 20px 24px #efefef
