$eggshell: #F3E9D2
$teagreen: #C6DABF
$grannysmithapple: #88D498
$illuminatingemerald: #1A936F
$midnightgreen: #114B5F
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')
@import url('https://fonts.googleapis.com/css?family=Seaweed%20Script')

$background-color: $eggshell

$logo-background: $midnightgreen
$logo-text: rgb(240, 240, 240)

$short-bio-background: $grannysmithapple
$services-background: $eggshell
$about-background: $teagreen
$contact-background: $eggshell
$card-text: rgb(16, 32, 16)
$menu-text: $card-text
$header-color: $illuminatingemerald

$sans-serif: "Nunito", sans-serif
$script: "Seaweed Script", serif

$layout-breakpoint-phone: 768px

@mixin tablet-up
    @media (min-width: $layout-breakpoint-phone)
        @content

@mixin tablet-down
    @media (max-width: $layout-breakpoint-phone)
        @content

@mixin colors($text, $background)
    background-color: $background
    color: $text

@mixin center()
    display: flex
    justify-content: center
    align-items: center

@mixin card($text, $background)
    @include colors($text, $background)
    @include center()

@mixin horizontal-menu
    ul
        list-style-type: none
        margin: 0
        padding: 0
        text-align: right
        font: 100% $sans-serif
        color: $card-text

    li
        display: inline-block

@mixin menu-item-style
    a
        text-decoration: none
        color: black
        padding: 0em 1em

html
    scroll-behavior: smooth

body
    background-color: $background-color
    font: 100% $sans-serif
    &::-webkit-scrollbar
        display: none

.content
    margin: 1em
    @include center()
    flex-direction: column
    height: 100%

h1
    font: 200% $sans-serif

p
    display: block
    margin-bottom: 1em

.header
    position: absolute
    left: 0
    top: 0
    height: 1.5em
    width: 100%
    background-color: $header-color
    box-shadow: 0 4px 4px $header-color
    padding: 2px 2px 2px 2px
    @include tablet-down
        display: none

.menu
    @include horizontal-menu
    @include menu-item-style

.larger
    font-size: 125%

section
    display: flex
    flex-direction: column
    flex-grow: 1
    align-items: stretch
    background-color: $background-color

    &.welcome
        display: flex
        flex-direction: row
        min-height: 100vh
        flex-wrap: wrap

    .company
        @include card($logo-text, $logo-background)
        flex-grow: 2
        min-width: 300px
        .logo
            font: 1500% $sans-serif
            margin-top: -0.4em
            margin-bottom: -0.4em
        h1
            font: 400% $sans-serif
        .slogan
            font: 150% $script

    .short-bio
        @include card($card-text, $short-bio-background)
        font: 125% $sans-serif
        flex-grow: 1
        min-width: 300px
        @include tablet-up
            max-width: 50vw
            .content
                padding: 10vw
                padding-bottom: 1em

    .services
        @include card($card-text, $services-background)
        min-height: 50vh

    .about
        @include card($card-text, $about-background)
        min-height: 50vh

    .contact
        @include card($card-text, $contact-background)
        min-height: 50vh
