{% extends "base.html" %}

{% block content %}
<div id="about">
  <div class="span-16">
    <div class="span-16 last">
      <h2>Short biography</h2>
      <p>
        I started my professional career at the <a href="http://www.ugent.be/">University of Ghent</a> as an
        assistant
        of the late professor Ghislain Hoffman in the <a href="http://intec.ugent.be/">Information Technology</a>
        department of the applied sciences faculty. I was involved with both entry-level and advanced courses in
        Pascal,
        Smalltalk, C, C++ and Java. In and outside the university I also presented courses on object oriented design
        and
        analysis.
      </p>
      <p>
        However interesting and varied this work was, I felt the need for a new challenge and started to work
        as an employee for the consultancy firm Inno.com a few months after it was founded. Since this company
        worked in close co-operation with all Flemish universities, it was quite a natural step for me.
      </p>
      <p>
        In 2007 the call of making a living as a self-employed consultant become too strong to ignore any longer.
        So I founded ICTects BVBA with myself as the sole owner.
      </p>
    </div>
    <div class="span-8">
      <h2>Main previous and current assignments</h2>
      <ul>
        <li>4 years as assisting academic personel at the University of Ghent</li>
        <li>3 years as project architect for the Internet real-time auctioning and fresh fish market site of PEFA
        </li>
        <li>9 years as senior consultant with Inno.com</li>
        <li>6 years as project architect for Toyota Motor Europe</li>
        <li>4 years as application architect for bpost</li>
        <li>2 years as researcher/senior developer for Sony Techsoft</li>
      </ul>
      <p>
        Obviously, some of these assigments overlap. Have a look at my detailled CV for the details.
      </p>
    </div>
    <div class="span-8 last">
      <h2>Curriculum vitae</h2>
      <p>
        Since the format of this web site is not the best basis for a printable CV, a printable copy is available as
        a PDF document.
      </p>
      <p>
        <a href="/cv/cv_gpr_en.pdf">
          <img alt="Download my CV as a pdf file" class="centered" src="/images/adobe.pdf.png">
        </a>
      </p>
      <p>
        I strive to maintain this document on a regular basis, but since I mostly take on long-term assignments, my
        CV usually
        remains up to date for quite a while.
      </p>
    </div>
  </div>
  <div class="span-8 last">
    <img alt="cv" class="column" src="/images/write-02.png">
  </div>
</div>

{% endblock content %}