<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="ICTects BV company site. {% if page.extra.description %}{{ page.extra.description }}{% endif %}">
    <link rel="stylesheet" href="/stylesheets/reset.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/home.css" media="screen,projection">
    <script type="text/javascript" src="/scripts/fixup_data.js"></script>
    <title>ICTects BV</title>
</head>

<body>
    <section>
        <section class="welcome">
            <div class="company">
                <div class="content content--centered">
                    <div class="logo">∞</div>
                    <h1 class="name">
                        ICTects BV
                    </h1>
                </div>

            </div>
            <div class="short-bio">
                <div class="content content--centered">
                    <p class="larger">
                        Hi, I'm Geert Premereur
                    </p>
                    <p>
                        I'm an independent full stack software consultant and ICTects BV
                        is my company. My areas of expertise are centered around functional
                        programming in Scala & Typescript.
                    </p>
                    <p>
                        Since 2007 I have been an independent consultant. My
                        passion is in solving technical challenges, so I
                        gradually moved from architecture consultancy to
                        application design and implementation.
                    </p>
                    <p>
                        Before, I worked 9 years as a senior consultant for
                        Inno.com. Mainly delivering projects for customers as a
                        technical team lead and architect.
                    </p>
                    <p>
                        I started my professional career in 1992 as a teaching
                        assistant for a range of programming and computer
                        science courses at the University of Ghent.
                    </p>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="content content--centered">
                <h1>Services</h1>
                <p>I offer a range of services</p>
            </div>
        </section>
        <section class="about">
            <div class="content content--centered">
                <h1>Technical interest</h1>
                <p>More detailed bio + languages/frameworks + CV </p>
            </div>
        </section>
        <section class="contact">
            <div class="content content--centered">
                <h1>Contact</h1>
                <p>You can contact me + social media links</p>
            </div>
        </section>
    </section>


    <!-- <div class="container">
        <div id="header" class="span-24 last">
            <div id="social">
                <a href="http://be.linkedin.com/in/geertpremereur">
                    <img src="/images/linkedin-01.png" alt="Follow me on linked in" width="32" height="32">
                </a>
            </div>
            <div class="logo">
                <h1><a href="/"><img src="/images/logo-01.png" alt="ICTects" width="310" height="76"></a></h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        {% block content %} {% endblock %}
        <div id="footer" class="span-24 last">
            &copy; 2008-2022 - ICTects BV
        </div>
    </div> -->
</body>

</html>