<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="ICTects BV company site. {% if page.extra.description %}{{ page.extra.description }}{% endif %}">
    <link rel="stylesheet" href="/stylesheets/reset.css" media="screen,projection">
    <link rel="stylesheet" href="/stylesheets/home.css" media="screen,projection">
    <script type="text/javascript" src="/scripts/fixup_data.js"></script>
    <title>ICTects BV</title>
</head>
<section class="section-main">
    <div class="company">
        <div class="content content--centered">
            <div class="logo">∞</div>
            <h1 class="name">
                ICTects BV
            </h1>
        </div>
        
    </div>
    <div class="intro">
        <div class="content content--centered">
            <p class="larger">
                Hi, I'm Geert Premereur
            </p>
            <p>
                I'm an independent full stack software consultant. My company is
                ICTects BV.
            </p>
            <p>
                I started my professional career in 1992 as a teaching assistant
                for a range of programming and computer science courses at the
                University of Ghent.
            </p>
            <p>
                The next 9 years I worked as a senior consultant employee for
                Inno.com. Mainly delivering projects for customers as a
                technical team lead and architect.
            </p>
            <p>
                In 2007 I became an independent consultant. Since my passion is
                in solving technical challenges, I gradually moved from
                architecture consultancy to application design and
                implementation.
            </p>
            <p>
                My areas of expertise are centered around functional
                programming. Scala, Typescript with fp-ts. I also know my way
                around the node eco system and Angular.
            </p>
        </div>
    </div>
</section>
<section class="services">
    <div class="content">
        <h1>Services</h1>
    </div>
</section>

<body>

    <!-- <div class="container">
        <div id="header" class="span-24 last">
            <div id="social">
                <a href="http://be.linkedin.com/in/geertpremereur">
                    <img src="/images/linkedin-01.png" alt="Follow me on linked in" width="32" height="32">
                </a>
            </div>
            <div class="logo">
                <h1><a href="/"><img src="/images/logo-01.png" alt="ICTects" width="310" height="76"></a></h1>
            </div>
            <div id="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        {% block content %} {% endblock %}
        <div id="footer" class="span-24 last">
            &copy; 2008-2022 - ICTects BV
        </div>
    </div> -->
</body>

</html>