{% extends "base.html" %}

{% block content %}
<div class="span-8">
  <h2>
    Email
  </h2>
  <p>Sending an email is often the most reliable and always the preferred method to contact me.</p>
  <dl>
    <dt>For job offers &amp; requests</dt>
    <dd><span class="fix_email"> jobs@ictects.com</span></dd>
    <dt>For general information</dt>
    <dd><span class="fix_email"> info@ictects.com</span></dd>
  </dl>
  <h2>Telephone</h2>
  <p>Calling or texting me is possible through this number:</p>
  <p>
    <strong>+32 487 495 123</strong>
  </p>
</div>
<div class="span-8">
  <h2>
    Snail mail
  </h2>
  <p>If you must send dead-tree mails - my current main client will thank you for this - you can do so at the
    address right below:</p>
  <p>
    <strong>
      ICTects BVBA
      <br>
      Oudendijk 7
      <br>
      9420 Erpe-Mere
      <br>
      Belgium
    </strong>
  </p>
  <h2>VAT</h2>
  <p>BE0887983728</p>
</div>
<div class="span-8 last">
  <h2>
    Social networking &amp; web presence
  </h2>
  <dl>
    <dt>Linked in</dt>
    <dd>
      <a href="http://be.linkedin.com/in/geertpremereur">Geert Premereur's profile</a>
    </dd>
    <dt>Twitter</dt>
    <dd>
      <a href="https://twitter.com/gpremer">Geert's tweetline</a>
    </dd>
    <dt>GitHub</dt>
    <dd>
      <a href="https://github.com/gpremer">Geert's public source code</a>
    </dd>
  </dl>
  <p>Please send a connection request if you want to be kept up to date about my latest status.</p>
</div>

{% endblock content %}
