{% extends "base.html" %}

{% block content %}
<div id="home">
    <div class="span-8">
        <h2>Services</h2>
        <img alt="Guy typing on keyboard" class="column" src="/images/about-01.png" width="310" height="207">
        <p>ICTects BVBA is a small consultancy specialising in ICT architecture &amp; web applications.</p>
        With over fifteen years of experience in enterprise IT consulting we're guaranteed to be able to apply our
        skills to your company. Core competences include:
        <ul>
            <li>Enterprise application architecture</li>
            <li>Java &amp; JavaEE</li>
            <li>Ruby &amp; JRuby</li>
            <li>Unix/Linux</li>
            <li>Application design</li>
            <li>Testing methodology &amp; agile development</li>
        </ul>
        <a href="/services.html">See what services ICTects can offer you</a>
    </div>
    <div class="span-8">
        <h2>About me</h2>
        <img alt="Guy jumping in the air" class="column" src="/images/portfolio-01.png" width="310" height="207">
        <p>I started my professional career for 4 years at the University of Ghent as an academic assistant in the
            Information Technology department.</p>
        <p>
            In 1998, the consultancy firm Inno.com was founded in close co-operation with the Flemish universities. I
            worked there as an employee for 9 years.
        </p>
        <p>
            In 2007 the call of making a living as a self-employed consultant become too strong to ignore any longer.
            So I founded ICTects BVBA with myself as the sole owner.
        </p>
        <a href="/about.html">Find out more</a>
    </div>
    <div class="span-8 last">
        <h2>Contact</h2>
        <img alt="Putting letter in mail box" class="column" src="/images/mail-01.png" width="310" height="207">
        <p>Sending an email is the preferred and often the most reliable way to contact me.</p>
        <ul>
            <li>For job offers &amp; requests: <span class="fix_email"> jobs@test.com</span></li>
            <li>For general information: <span class="fix_email"> info@test.com</span></li>
        </ul>
        <p>You can also call me at: +32 487 495 123</p>
        <a href="/contact.html">Get in touch</a>
    </div>
</div>
{% endblock content %}