{% extends "base.html" %}

{% block content %}
<section class="welcome">
    <div class="company">
        <div class="content">
            <p class="slogan">developping <br/> functional solutions</p>
            <p class="larger">
                Hi, I'm Geert Premereur
            </p>
            <p>
                I'm a freelance, full stack software consultant. ICTects
                BV is my company. My areas of expertise are centered
                around functional programming in Scala & Typescript.
            </p>
            <p>
                I love designing and implementing solutions that are
                robust and flexible enough to withstand the unforeseen
                challenges that always crop up when an application is
                released to production.
            </p>
            <p>
                DevOps, CI, monitoring & deployment to cloud providers
                don't scare me in the least.
            </p>
            <p>
                Lastly, I enjoy learning new stuff and spreading the
                knowledge I've gathered during my career.
            </p>
        </div>
        <div class="content">
            <img src="/images/office-worker-2.svg" width="574px"  height="544px"/>
        </div>
    </div>
</section>
<section class="services" id="services">
    <div class="content">
        <h1>Services</h1>
        <div class="grid">
            <div class="grid-cell development">
                <h2>Solution development</h2>
                <p>
                    As a software solutions specialist, my primary focus
                    is on helping organizations implement effective
                    solutions. This includes collaborating on the design
                    of a solution, writing the necessary software,
                    configuring the infrastructure, and ensuring
                    successful deployment and follow-up. By taking a
                    holistic approach, I am able to ensure that the
                    implemented solution is tailored to the
                    organization's specific needs and will continue to
                    meet those needs over time.
                </p>
            </div>
            <div class="grid-cell consulting">
                <h2>Consulting</h2>
                <p>
                    As a veteran software architect, I have extensive
                    experience helping organisations transition to
                    best-of-class practices, taking into account the
                    realities of their existing culture and workforce.
                    This includes providing guidance on language,
                    framework and tooling selection, implementing
                    effective testing practices, designing efficient
                    continuous integration and rollout processes, and
                    much more. With my deep knowledge and expertise, I
                    am able to provide valuable insights and
                    recommendations to ensure that organisations are
                    able to take full advantage of the latest advances
                    in the field of software engineering.
                </p>
            </div>
            <div class="grid-cell training">
                <h2>Training & Coaching</h2>
                <p>
                    I have a passion for using my experience in
                    professional software development to help teach the
                    next generation of software engineers. My
                    specialisation is in teaching clean coding and
                    functional programming in Scala and TypeScript with
                    fp-ts, in which I have extensive experience. I offer
                    full-time, tailored training sessions that can be
                    delivered remotely or on-premises, depending on the
                    needs of the students and the organisation. Whether
                    you and your team are beginners looking to learn the
                    fundamentals or experienced developers looking to
                    improve their skills, I would be delighted to
                    discuss how I can help you achieve your goals.
                </p>
            </div>
            <div class="grid-cell photography">
                <h2>Photography</h2>
                <p>
                    In addition to my work as a software architect, I also run a
                    small photography business focused on sports. I have
                    experience capturing the excitement of cycling and running
                    events, and I offer a range of services to help athletes and
                    event organisers showcase their sports in a professional and
                    engaging way. f you require a sports photographer, feel free
                    to reach out to me to discuss your needs and how I can
                    assist you in capturing dynamic and compelling images of
                    your event.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}