{% extends "base.html" %}

{% block content %}
<div id="services">
  <div class="span-8">
    <h2>ICT consulting</h2>
    <picture>
      <source type="image/webp" srcset="/images/architecture-01.webp">
      <source type="image/jpeg" srcset="/images/architecture-01.png">
      <img alt="architecture" class="column" src="/images/architecture-01.png" width="310" height="207">
    </picture>
    <p>
      With over fifteen years of experience in enterprise IT consulting we're guaranteed to be able to apply our
      skills to your company.
      Core competences include:
    </p>
    <ul>
      <li>Enterprise application architecture</li>
      <li>Java &amp; JavaEE</li>
      <li>Ruby &amp; JRuby</li>
      <li>Unix/Linux</li>
      <li>Application design</li>
      <li>Testing methodology &amp; agile development</li>
    </ul>
    <p>
      Consulting is our main line of business. Have a look at
      <a href="/about">the about section</a>
      to learn about previous assignments.
    </p>
  </div>
  <div class="span-8">
    <h2>Web &amp; App development</h2>
    <picture>
      <source type="image/webp" srcset="/images/development-01.webp">
      <source type="image/jpeg" srcset="/images/development-01.png">
      <img alt="development" class="column" src="/images/development-01.png" width="310" height="207">
    </picture>
    <p>
      Contact us if you need a custom dynamic web site or mash-up.
    </p>
    <p>
      You'll be surprised about the quick turn-around of Ruby web development and cost and scalability of cloud
      deployment.
    </p>
    <p>
      Although we'll always endeavour to come up with a solution tailored to your specific needs, we specialise in:
    </p>
    <ul>
      <li>Ruby on Rails</li>
      <li>Sinatra</li>
      <li>Radiant</li>
      <li>Heroku</li>
      <li>Google AppEngine</li>
    </ul>
  </div>
  <div class="span-8 last">
    <h2>Moving to the cloud</h2>
    <picture>
      <source type="image/webp" srcset="/images/cloud-01.webp">
      <source type="image/jpeg" srcset="/images/cloud-01.png">
      <img alt="cloud" class="column" src="/images/cloud-01.png" width="310" height="207">
    </picture>
    <p>
      Maintaining a complete in-house solution for email and collaboration can be a major drag on the resources of a
      small to medium business. Fortunately, a much more cost-effective solution is available.
    </p>
    <p>
      Did you know that you not only can use email addresses with you own domain name, but also very capable
      spreadsheets,
      presentations, text processors and so much more, all hosted by Google? And since all these applications are
      on-line,
      they provide unparalleled possibilities for collaboration.
    </p>
    <p>
      At ICTects, we're not only making use of this platform, we're also available to assist you in doing the same.
      Let us
      help you to drastically cut on ICT expenses and improve on usability by moving to the Google cloud!
    </p>
  </div>
  <div class="span-8">
    <h2>Systems management</h2>
    <picture>
      <source type="image/webp" srcset="/images/systems-01.webp">
      <source type="image/jpeg" srcset="/images/systems-01.png">
      <img alt="systems" class="column" src="/images/systems-01.png" width="310" height="207">
    </picture>
    <p>
      As long time Linux users and administrators — since 1994 — we also
      offer support for any deployments on hosted Linux systems. For this
      we concentrate on Ubuntu and Debian based installations.
    </p>
  </div>
  <div class="span-8">
    <h2>Training &amp; coaching</h2>
    <picture>
      <source type="image/webp" srcset="/images/coach-01.webp">
      <source type="image/jpeg" srcset="/images/coach-01.png">
      <img alt="coaching" class="column" src="/images/coach-01.png" width="310" height="207">
    </picture>
    <p>
      With a long and deep background in Java and technical architecture we're able to bring your technical team
      up to speed quickly. Either by organising full-time training sessions or else by on-the-job coaching.
    </p>
  </div>
  <div class="span-8 last">
    <h2>Sports photography</h2>
    <picture>
      <source type="image/webp" srcset="/images/sports-01.webp">
      <source type="image/jpeg" srcset="/images/sports-01.png">
      <img alt="cycling" class="column" src="/images/sports-01.png" width="310" height="207">
    </picture>
    <p>
      If you're organising an amateur sports event and you want to present or sell the participants pictures of
      their effort, do contact us.
      As avid bicyclists and photographers, we're sure to make compelling action shots that people will want to
      have.
      To see some of our work, you may wish to have a look at the <a href="http://www.fietsfoto.com/">FietsFoto</a>
      site.
    </p>
  </div>
</div>

{% endblock content %}